# Flask Configuration
SECRET_KEY=
FLASK_ENV=production

# Database Configuration
DATABASE_URL=postgresql://postgres:airflow@postgres:5432/waste_collection
POSTGRES_PASSWORD=airflow

# Email Configuration (for sending OTP)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=465
MAIL_USE_TLS=False
MAIL_USE_SSL=True
MAIL_USERNAME=
MAIL_DEFAULT_SENDER=
MAIL_PASSWORD=

# Redis Configuration
REDIS_HOST=
REDIS_PORT=
REDIS_USERNAME=
REDIS_PASSWORD=
REDIS_DB=0
REDIS_URL=
# OTP Configuration
OTP_TTL_SECONDS=300
OTP_LENGTH=6

# Frontend Configuration
VITE_API_URL=/api